[Unit]
Description=Gym
Wants=network.target
After=syslog.target network-online.target

[Service]
ExecStart=/home/iljavaleev/GymMini/backend/build/cpp-gym-back
Restart=always
RestartSec=10
KillMode=process
User=root

[Install]
WantedBy=multi-user.target